{% for name,c,p,cost,s,color in tests %}
<div class="modal fade " id="editTestModal{{forloop.counter}}" tabindex="-1" aria-labelledby="editTestModalLabel{{forloop.counter}}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editTestModalLabel{{forloop.counter}}">Edit the test</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label  class="form-label">Name</label>
            <input id="testName{{forloop.counter}}" type="text" value="{{name}}" class="form-control" placeholder="Enter the Full name">
          </div>
          <div>
            <label  class="form-label">Select the cardiologist</label>
            <select id="cardiologistNameTestForm{{forloop.counter}}" class="form-select" aria-label="Default select example">
              
              {% for cardio in cardiologists %}
              {% if cardio.name == c %}
              <option value="{{cardio.name}}" selected>{{cardio.name}}</option>
              {% else%}
              <option value="{{cardio.name}}">{{cardio.name}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label  class="form-label">Select the patient</label>
            <select id="patientNameTestForm{{forloop.counter}}" class="form-select" aria-label="Default select example">
             
              {% for pt in patients %}
              {% if pt.name == p %}
              <option value="{{pt.name}}" selected>{{pt.name}}</option>
              {% else%}
              <option value="{{pt.name}}">{{pt.name}}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label  class="form-label">Select the status</label>
            <select id="testStatus{{forloop.counter}}" class="form-select" aria-label="Default select example">
              {% if s == 'Ready' %}
              <option value="Ready" selected>Ready</option>
              {% else %}
              <option value="Ready">Ready</option>
              {% endif%}
              {% if s == 'Not Ready' %}
              <option value="Not Ready" selected>Not Ready</option>
              {% else %}
              <option value="Not Ready">Not Ready</option>
              {% endif%}
              {% if s == 'Completed' %}
              <option value="Completed" selected>Completed</option>
              {% else %}
              <option value="Completed">Completed</option>
              {% endif%}
            </select>
          </div>
          <div class="mb-3">
            <label  class="form-label">Cost</label>
            <input id="testCost{{forloop.counter}}" type="number" value="{{cost}}" class="form-control"  placeholder="Enter the Cost">
          </div>
          
        </div>
        <div class="modal-footer">
          <button onclick="edit_test_onclick_{{forloop.counter}}()" type="button" class="btn btn-primary">Edit</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
{% endfor %}