<div class="modal fade " id="addCardioModal" tabindex="-1" aria-labelledby="addCardioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addCardioModalLabel">Add new cardiologist</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input id="cardiologistName" type="text" class="form-control" placeholder="Enter the Full name">
          </div>
          <div class="mb-3">
            <label class="form-label">Age</label>
            <input id="cardiologistAge" type="number" class="form-control" placeholder="Enter the Age">
          </div>
          <div class="mb-3">
            <label  class="form-label">Experience</label>
            <input id="cardiologistExperience" type="number" class="form-control" 
              placeholder="Enter experience years">
          </div>
          <div class="mb-3">
            <label class="form-label">Select the specialization</label>
            <select id="cardiologistSpecialization" class="form-select" aria-label="Default select example">
              
              <option selected>Choose...</option>
              {% for x in specialization %}
              <option value="{{x}}">{{x}}</option>
              {%endfor%}
              
            </select>
          </div>
          <div class="mb-3">
            <label  class="form-label">Brief info</label>
            <textarea class="form-control" id="cardiologistBriefInfo" placeholder="Write brief information"></textarea>
          </div>
          <div class="mb-3">
            <label  class="form-label">Phone number</label>
            <input type="number" id="cardiologistPhonenumber" class="form-control"  placeholder="Enter the Phone number">
          </div>
          <div class="mb-3 row">
            <label  class="form-label">Gender</label>
            <div class="form-check col">
              <input id="cardiologistGenderMale" value="Male" name="cardiologistGender" class="form-check-input" type="radio" checked>
              <label for="cardiologistGenderMale" class="form-check-label">
                Male
              </label>
            </div>
            <div class="form-check col">
              <input id="cardiologistGenderFemale" value="Female" name="cardiologistGender" class="form-check-input" type="radio">
              <label for="cardiologistGenderFemale" class="form-check-label">
                Female
              </label>
            </div>
           
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="addCardiologist_onclick()" class="btn btn-primary">Add</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>