<div class="tab-pane fade {% if tab3 %} show {{tab3}} {% endif %}" id="appointments" role="tabpanel" aria-labelledby="appointments-tab">

    <div class="row">
        <div class="list-group ps-3 pt-3">
            {% for p,c,d,t,s,color in appointments %}
            <div class="list-group-item list-group-item-action " aria-current="true">
                <div class="d-flex w-90 justify-content-between">
                    <h5 class="mb-1">Patient: {{p}}</h5>
                    <small class="text-muted">{{d}} &nbsp;&nbsp;/ &nbsp;&nbsp;{{t}}</small>
                </div>
                <p class="mb-1">Cardiologist: {{c}}</p>
                <span class="badge bg-{{color}} rounded-pill">{{s}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- bottom form -->
        
    <div class="row row-cols-4 flex-row-reverse pt-3">

        <div class="btn-group" role="group" aria-label="Basic example">

          <button type="button" class="p-3 btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-target="#scheduleAppointmentModal">Schedule</button>
    
        </div>
    
      </div>
</div>