<div class="modal fade " id="scheduleAppointmentModal" tabindex="-1" aria-labelledby="scheduleAppointmentModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="scheduleAppointmentModalLabel">Make a new appointment</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col border rounded me-1">

            {% include 'patients/addpatients.html' %}


          </div>
          <div class="col">
            <div class="card">
              <div class="card-header">
                Choose appropriate cardiologist and date
              </div>
              <div class="card-body">
                <div>
                  <label class="form-label">Available cardiologists</label>
                  <select id="cardiologistNameAppointmentForm" class="form-select" size="5" aria-label="size 3 select example">
                    {% for c in cardiologists %}
                    <option value="{{c.name}}">Dr. {{c.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="pt-3">
                  <label class="form-label">Due date</label>
                  <input id="dueDate" type="date" class="form-control form-control-date">
                  <label class="form-label pt-3">Due time</label>
                  <input id="dueTime" type="time" class="form-control form-control-time">
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button onclick="add_appointment_onclick()" type="button" class="btn btn-primary">Make</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>