{% load static %}
<div class="tab-pane fade pt-3" id="nurses" role="tabpanel" aria-labelledby="nurses-tab">
    <!-- patients lists-->
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <!--patients cards-->

        {% for nurse in nurses%}
        <div class="col">
            <div class="card cardlist h-100">
                <img src="{%static 'cardiologyicon.png'%}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{nurse.name}}</h5>

                </div>
                <button id="editnursebtn{{forloop.counter}}" type="button" class="collapse multi-collapse toggleEditNurse btn btn-primary m-3" data-bs-toggle="modal"
                data-bs-target="#editNurseModal{{forloop.counter}}">Edit</button>
                <button type="button" class="btn btn-outline-primary m-3" data-bs-toggle="modal"
                    data-bs-target="#nurseInfoModal{{forloop.counter}}">show</button>
            </div>
        </div>
        {% endfor %}

    </div>
    <!-- bottom form -->

    <div class="row row-cols-4 flex-row-reverse pt-3">

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="p-3 btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#addNurseModal">Add</button>
                

                <button type="button" class="p-3 btn btn-outline-primary" data-bs-toggle="collapse"
                data-bs-target=".toggleEditNurse" aria-expanded="false" aria-controls="{% for n in nurses %}editnursebtn{{forloop.counter}} {%endfor%}">Edit</button>
                

        </div>

    </div>

</div>